.shops{
	padding-top: 20px;
	padding-bottom: 0;
	font-size: 35px;
	color: #085025;
	font-family: 'Roboto';
	
}

.upperline{
	background-color: #085025!important;
	color: white;
	font-size: 0.75rem;
	min-height: 30px;
}
.navbar-brand
{
	font-weight: bold;
}
/*Why do we use REM*/
/*Difference between REM and PX?*/
.nav-link
{
	font-size: 0.75rem;
	color: #085025!important;
	font-weight: bolder;
}
.nav-link.scrolled
{
	font-size: 0.75rem;
	color: #085025!important;
	font-weight: bolder;
}
.text-search, .button-search
{
	border: none;
	background-color: transparent;
	color: #895737;
}
.text-search
{
	font-size: 0.75rem;
	width: 100px!important;
	color: #d2c1b0;
}
u
{
	color: #4b1f0e;
}
svg
{
	color: #085025!important;
}
.phone
{
	color: #efc3a4;
	font-size: 0.75rem;
}
.next
{
	color: gray!important;
}
.prev
{
	color: gray!important;
}
.next:hover
{
	color: gray;!important;
}
.prev:hover
{
	color: gray;!important;
}
/*.carousel-item {
  height: 85vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/
.carousel-control-prev-icon
{
	color: red!important;
}
.car-btn
{
	color: #4b1f0e!important;
	font-weight: bold;
}

.car-btn:hover
{
	color: white;!important;
	background-color: #895737!important;
	font-weight: bold;
}
.navbar-fixed-top.scrolled
{
	background-color: white;
	opacity: 80%;
	height: 50px;
	transition: background-color 500ms linear;
}
.card-desc
{
	font-size: 0.8rem;
	color: #212529;
}
.card-text
{
	color: #bd2130;
}
.card 
{
	background: transparent;
	border: transparent;
}
.card-link
{
	font-weight: bold;
	color: #895737!important;
}
.btn-cart
{
	font-size: .5rem;
	background-color: #28a745!important;
	color: white;
	font-weight: bold;

}
.card-img-top
{
	border-radius: 50px;
}
.navbar
{
	margin-top: 30px;
}
.navbar.scrolled
{
	margin-top: 0px;
}
.carousel
{
	margin-top: 50px;
}
.premium-title
{
	font-size: 1.3rem;
}
.premium-text
{
	font-size: 1rem;
}
.store-title
{
	font-size: 2rem;
}
.store-btn:hover
{
	color: white!important;
	background-color: #4b1f0e;
	border-color: #4b1f0e!important;
	font-weight: bold;
	width: 300px;
}
.store-btn
{
	color: #4b1f0e!important;
	background-color: white;
	border-color: #4b1f0e!important;
	font-weight: bold;
	width: 300px;
}
.footer {
	text-align: center;
	padding: 3px;
	background-color: #085025;
	color: white;
  }
.subs-btn
{
		color: white!important;
	background-color: #4b1f0e;
	border-color: #4b1f0e!important;
	font-weight: bold;
}